.apoie-page{

	&.cursos{
		.bannerTop .bg{
			width: 100%;
		}
		
		.bannerTop:after{
			display: none;
		}
	}
	
	.bannerTop{
		width: 100%;
		padding: 100px 0;
		padding-bottom: 200px;

		&:after{
			content: '';
			width: 30%;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			background-color: $yellow;
			z-index: 1;
		}

		.bg{
			width: 70%;
		}

		.main{
			display: flex;
			justify-content: space-between;

			.left{
				width: 55%;
				max-width: 600px;

				h3{
					color: #fff;
					text-transform: uppercase;
					font-weight: bold;
					position: relative;
					padding-bottom: 15px;
					font-size: 22px;

					&:before{
						content: '';
						width: 68px;
						height: 3px;
						background-color: $yellow;
						position: absolute;
						left: 0;
						bottom: 0px;
					}
				}

				h2{
					color: #fff;
					font-weight: bold;
					margin: 20px 0;
					font-size: 38px;
					line-height: 1.1;

					strong{
						color: $yellow;
						font-weight: bold;
					}

					p{
						margin: 0;
					}
				}

				.text{
					color: #fff;
					line-height: 1.6;
					font-size: 18px;
					font-weight: normal;
				}
			}

			.right{
				background-color: #fff;
				padding: 30px;
				box-sizing: border-box;
				width: 35%;
				max-width: 400px;

				.ctn{
					max-width: 285px;
					margin: 0 auto;

					.cifrao{
						margin-left: -30px;
					}

					strong{
						color: #000;
						font-weight: bold;
					}

					#totalApoio{
						font-weight: 900;
						font-size: 42px;
						color: #000;
						margin: 0;
						margin: -10px 0;
					}

					span{
						font-weight: bold;
						color: #6c6c6c;
						font-size: 20px;
					}

					hr{
						margin-top: 15px;
					}

					.btn{
						width: 100%;
						text-align: center;
						display: block;
						background-color: $yellow;
					}
				}
			}
		}
	}

	.section01{
		width: 100%;
		background-color: #fff;
		padding-bottom: 60px;

		.main{
			max-width: 990px;
		}

		.embed{
			width: 90%;
			max-width: 889px;
			margin: 0 auto;
			margin-top: -150px;
			margin-bottom: 60px;

			iframe{
				width: 100%;
				height: 500px;
			}
		}

		.abasPlanos{
			width: 100%;
			display: flex;
			justify-content: center;
			margin: 0;
			margin-bottom: 40px;

			._item{
				padding: 15px;
				background-color: #a3a3a3;
				color: #000;
				font-weight: 900;
				margin: 0 5px;
				min-width: 140px;
    			text-align: center;
				cursor: pointer;

				&:hover{
					background-color: #c5bfbf;
				}

				&.active{
					background-color: $yellow;
				}
			}
		}

		.conteudoPlano{
			width: 100%;
			display: none;

			&.active{
				display: block;
			}

			.grid{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				margin: 0;

				li.item{
					width: calc(25% - 20px);
					background-color: #f9f9f9;
					padding: 30px 20px;
					box-sizing: border-box;
					text-align: center;
					margin: 10px;
					border: 2px solid transparent;
					position: relative;

					&:hover{
						background-color: #f0f0f0;
						border-color: #c7c7c7;
					}

					.toolTip{
						position: absolute;
						right: 10px;
						top: 10px;
						width: 24px;
						height: 24px;
						background: url('../images/icones/alert.png') no-repeat;
						background-size: contain;
						opacity: 0.6;
						cursor: pointer;

						&:hover{
							opacity: 1;
						}
					}

					h4{
						font-weight: 900;
						font-size: 20px;
						margin: 0;
					}

					.price{
						display: flex;
						justify-content: center;
						align-items: baseline;

						span{
							font-size: 26px;
							font-weight: 900;
							margin-right: 2px;
							color: #000;
						}

						h5{
							font-size: 38px;
							font-weight: 900;
							margin: 0;
							color: #000;
						}
					}

					.btn{
						width: 100%;
						display: block;
						margin-top: 20px;
						background-color: $yellow;
					}
				}
			}
		}
	}

	.section02{
		width: 100%;
		background-color: #f0f0f0;
		padding: 40px 0;

		.main{
			max-width: 990px;
		}

		.text{
			padding: 15px 0;

			p{
				font-size: 20px;
			}
		}
	}

}



.modalPlano{
	position: fixed;
	left: 0;
	right: 0;
	top: 10%;
	margin: auto;
	width: 90%;
	max-width: 900px;
	background-color: rgba(0,0,0,0.6);
	z-index: 9992;
	background-color: #fff;
	padding: 30px;
	box-sizing: border-box;
	min-height: 400px;
	-webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.44);
	box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.44);
	display: none;

	&:before{
		content: '';
		width: 60%;
		height: 5px;
		background-color: $yellow;
		position: absolute;
		left: 0;
		top: 0;
	}

	.close{
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;

		&:hover{
			color: #000;
		}

		i{
			font-size: 26px;
		}
	}

	.content{
		width: 100%;
		max-height: 70vh;
		overflow: auto;

		h4{
			font-size: 32px;
	    	font-weight: 900;
		}

		.text{
			font-size: 18px;
		}

		.button{
			background-color: #000;
			color: #fff;
			font-weight: 900;
			margin-top: 40px;
			padding: 20px 25px;
		}
	}
}

.overflowPlano{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 999;
	display: none;
}