.autor-page{

	.bannerTop{
		background: url('../images/bg-autor.jpg');
		background-size: cover;
		
		.main{
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #fff;

			figure{
				width: 200px;
			}

			.right{
				width: calc(100% - 260px);

				.lineTop{
					display: flex;
					justify-content: space-between;

					.name{
						width: 80%;

						h2{
							font-size: 38px;
							color: #fff;
							font-weight: 900;
							margin: 0;
						}

						span{
							font-size: 18px;
							font-weight: lighter;
							margin-top: -10px;
						}
					}

					.redes{
						display: flex;
						justify-content: flex-end;

						a{
							margin: 0px 5px;
							font-size: 20px;
							color: #fff;
						}
					}	
				}

				.text{
					width: 100%;
					border-top: 1px solid #fff;
					padding: 20px 0;
					line-height: 1.4;
				}
			}
		}
	}
}


.ctnUserRelated{
	width: 100%;
	margin: 40px 0;

	.titleGrid{
		width: 100%;
		font-weight: 900;
		font-size: 20px;
	}

	.grid{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		li._item{
			width: 25%;
			padding: 10px;
			box-sizing: border-box;

			figure{
				width: 100%;
				margin-bottom: 6px;

				img{
					width: 100%;
				}
			}

			h5{
				font-weight: 700;
				font-size: 18px;
			}
		}
	}
}