body.home{
	.site-header{
		background-color: transparent !important;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
	}
}

.lineTopFixed{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
}

.scroll{
	width: 100%;
	// overflow: auto;
}

.site-header{
	margin: 0px !important;
	padding-top: 0 !important;
	border-bottom: 0px !important;
	background-color: #000 !important;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
	z-index: 4;

	.headerTop{
		width: 100%;
		background-color: #1f1f1f;
		padding: 4px 0;

		.main{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.listaMenu{
				display: flex;
				margin: 0;
				margin-left: -15px;

				li{
					margin: 0px 10px;
				}

				a{
					color: #686868;
					padding: 0px 5px;
					font-size: 15px;
					font-weight: 600;

					&:hover{
						color: #959494;
					}
				}
			}

			.redes{
				display: flex;

				a{
					font-size: 18px;
					color: #686868;
					margin: 0px 10px;

					&:hover{
						color: #959494;
					}
				}
			}
		}
	}

	.main{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1400px;
	}

	.brand{
		font-size: 0px;
		img{
			max-width: 190px;
		}
	}

	.right{
		width: calc(100% - 210px);
		display: flex;
		align-items: center;
		justify-content: space-between;

		nav.main-menu{
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: calc(100% - 155px);

			ul{
				display: flex;
				margin-bottom: 0;
				margin-left: 0px;

				li{
					padding: 30px 5px;
					border-bottom: 2px solid transparent;

					&:hover{
						border-color: rgba(255,255,255,0.4);
					}

					&.current-menu-item{
						border-color: $yellow;

						a{
							font-weight: bold;
							color: $yellow;
						}
					}

					&.yellow{

						a{
							font-weight: bold;
							color: $yellow;
						}
					}

					&.menu-item-has-children{
						position: relative;

						&:hover{
						.sub-menu{
							opacity: 1;
							visibility: visible;
							top: 100px;
						}
					}

						.sub-menu{
							width: 170px;
							position: absolute;
							right: 0px;
							top: 110px;
							background-color: #fff;
							padding: 13px 20px;
							box-sizing: border-box;
							opacity: 0;
							visibility: hidden;
							-webkit-transition: all ease-in-out 0.1s; 
							-moz-transition: all ease-in-out 0.1s; 
							transition: all ease-in-out 0.1s;
							-webkit-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.3); 
							box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.3);
							margin: 0;
							display: block;

							&:before{
								content: '';
								width: 0;
								height: 0;
								border-left: 10px solid transparent;
								border-right: 10px solid transparent;
								border-bottom: 10px solid #fff;
								position: absolute;
								right: 18px;
								top: -10px;
							}

							&:after{
								content: '';
								width: 100%;
								height: 16px;
								position: absolute;
								left: 0;
								top: -16px;
							}

							li{
								width: 100%;
								padding: 0;

								a{
									width: 100%;
									display: block;
									color: #000;
									padding: 5px 0;
								}
							}
						}
					}

					a{
						color: #fff;
						padding: 20px 12px;
    					display: block;
    					font-size: 17px;
    					white-space: nowrap;
					}
				}
			}
		}

		.infosCtn{
			display: flex;
			align-items: center;

			.clickMenuDrop{
				position: relative;

				&:hover{
					.submenu{
						opacity: 1;
						visibility: visible;
						top: 40px;
					}
				}

				.submenu{
					width: 250px;
					position: absolute;
					right: -20px;
					top: 60px;
					background-color: #fff;
					padding: 13px 10px;
					box-sizing: border-box;
					opacity: 0;
					visibility: hidden;
					@extend %transition;
					-webkit-box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.3); 
					box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.3);

					&:before{
						content: '';
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid #fff;
						position: absolute;
						right: 18px;
						top: -10px;
					}

					&:after{
						content: '';
						width: 100%;
						height: 16px;
						position: absolute;
						left: 0;
						top: -16px;
					}

					.mobile{
						display: none;
					}

					ul{
						margin: 0;
					}

					li{
						width: 100%;

						&:last-child{
							a{
								border-bottom: 0px;
							}
						}

						.sub-menu{
							a{
								padding-left: 20px;
							}
						}

						a{
							width: 100%;
							display: block;
							color: #000;
							line-height: 1.1;
							padding: 9px 7px;
							font-size: 15px;
							border-bottom: 1px solid #eaeaea;
						}
					}
				}
			}
		}

		.account{
			margin: 0px 13px;
			@extend %transition;

			a{
				display: flex;
				align-items: center;
				color: #fff;
				font-size: 16px;

				strong{
					font-weight: 300;
					line-height: 1;
					margin-left: 10px;
				}
			}
		}

		.link{
			position: relative;
			margin: 0px 13px;

			&:hover{
				img{
					opacity: 0.6;
				}
			}

			img{
				position: relative;
				z-index: 2;
				@extend %transition;
				border-radius: 0px;
			}

			.number{
				position: absolute;
				right: -9px;
				top: -7px;
				background-color: $yellow;
				color: #fff;
				font-size: 14px;
				justify-content: center;
				align-items: center;
				border-radius: 60px;
				width: 20px;
				height: 20px;
				text-align: center;
				font-weight: 600;
				display: flex;
				z-index: 9;

				&.loading{
					background-image: url('../images/loading.svg');
					background-repeat: no-repeat;
					background-size: 58%;
					background-position: center;
				}
			}
		}

		.linkWishList{
			margin: 0 10px;
		}

		.linkCart{
			// margin-left: 20px;
		}
	}

	.btn{
		padding: 10px 15px;

		img{
			margin-right: 7px;
		}
	}
}

.btn{
	padding: 10px 20px;
	background-color: $yellow;
	color: #000;
	font-size: 18px;
	overflow: hidden;
	position: relative;
	font-weight: bold;
	min-width: 110px;
	text-align: center;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	text-align: center;

	img{
		margin-right: 10px;
		width: auto;
		height: auto;
	}

	&.red{
		background-color: red;
		color: #fff;
	}

	&.btn-purple{
		background-color: $purple;
		color: #fff;
	}

	&.btn-black{
		background-color: #000;
		color: #fff;
	}

	&.btn-bordered{
		background-color: transparent;
		border: 2px solid $yellow;
		color: #fff;
		white-space: nowrap;
		padding: 15px 30px;
	}

	i{
		margin-left: 15px;
		@extend %transition;
	}

	&:before{
		content: '';
		width: 0px;
		height: 100%;
		background-color: rgba(255,255,255,0.2);
		position: absolute;
		left: 0;
		top: 0;
		@extend %transition;
	}

	&:hover{
		&:before{
			width: 100%;
		}


		i{
			margin-left: 20px;
			margin-right: -5px;
		}
	}
}

.slick-arrow{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 70px;
	height: 70px;
	background-color: transparent;
	margin: auto;
	z-index: 2;
	border: 0px;
	font-size: 0;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;

	&:hover{
		background-color: transparent;
		opacity: 0.7;
	}
}

.slick-prev{
	left: -30px;
	background-image: url('../images/icones/arrow-left.png');
}

.slick-next{
	background-image: url('../images/icones/arrow-right.png');
	right: -30px;
}


.contentProdutos{
	width: 100%;
	padding: 20px 0;

	.main{
		max-width: 1430px;
	}

	.top{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 15px;
		box-sizing: border-box;

		h3{
			font-weight: 800;
			margin: 0;
		}

		a{
			color: #848484;
			font-weight: 600;

			&:hover{
				color: #000;
			}
		}
	}

	.slick-prev{
		left: -45px;
	}

	.slick-next{
		right: -45px;
	}
}

.barAds{
	width: 100%;
	margin: 60px 0;
	position: relative;
	z-index: 2;

	&.first{
		margin-bottom: 20px;
	}

	.ads{
		margin: 0 auto;
		display: table;

		.g-col{
			margin: 0 10px;
		}

		&.apoie{
			width: 970px;
			max-width: 90%;
			padding: 25px 40px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-around;
			background: url('../images/banner-apoie.jpg') no-repeat;
			background-size: cover;
			position: relative;
			align-items: center;

			&:before{
				content: '';
				width: 12px;
				height: 100%;
				background-color: $purple;
				position: absolute;
				left: 0;
				top: 0;
			}

			.left{
				font-size: 32px;
				font-weight: 900;
				color: #fff;
				max-width: 500px;
				line-height: 1.2;
				margin-left: 10px;

				strong{
					font-weight: 900;
					color: $yellow;
				}
			}
		}
	}
}


footer{
	width: 100%;
	background-color: #2c2c2c;
	color: #fff;

	.lineTop{
		padding: 30px 0;
		border-bottom: 1px solid rgba(255,255,255,0.2);

		.main{
			display: flex;
			justify-content: space-between;

			.left{
				display: flex;
				align-items: center;

				.substantivo{
					margin-left: 70px;

					p{
						margin: -2px 0;
						font-size: 15px;
					}
				}
			}

			.right{

				p{
					margin: 0;
				}

				.redes{
					display: flex;

					a{
						font-size: 18px;
						color: $yellow;
						margin-right: 20px;
					}
				}
			}
		}
	}

	.lineMiddle{
		padding: 30px 0;

		.main{

			.listaMenu{
				width: 100%;
				display: flex;
				margin: 0;

				.menu-item-has-children{
					width: 20%;
					padding: 10px;

					a{
						font-size: 18px;
						margin-bottom: 15px;
						font-weight: 900;
    					color: #fff;
					}

					.sub-menu{
						a{
							font-size: 15px;
							margin-bottom: 0px;
							color: #b0b0b0;
							font-weight: normal;
						}
					}
				}

				ul{
					margin: 0;
				}

				li{
					margin: 2px 0;

					a{
						color: #b0b0b0;
						font-weight: normal;

						&:hover{
							color: #fff;
						}
					}
				}
			}

			// .colun{
			// 	width: 25%;

			// 	strong{
			// 		font-size: 18px;
			// 		margin-bottom: 15px;
			// 	}

				
			// }
		}
	}

	.lineDown{
		width: 100%;
		background-color: #1f1f1f;
		color: #4f4f4f;
		font-size: 14px;
		padding: 20px 0;

		.main{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.selo{
				img{
					max-width: 110px;
				}
			}
		}
	}

}

.modalBusca{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	background-color: #000;
	display: none;

	.topo{
		width: 100%;
		padding: 35px 0;
		border-bottom: 1px solid rgba(255,255,255,0.2);

		.main{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.close{
				cursor: pointer;
				@extend %transition;

				&:hover{
					opacity: 0.8;
				}
			}
		}
		
	}

	.bottom{
		width: 100%;
		padding: 150px 0;

		form{
			display: flex;
			justify-content: space-between;

			input{
				width: 80%;
				padding: 10px 0;
				background-color: transparent;
				border: 0px;
				border-bottom: 1px solid #fff;
				color: #fff;
				box-shadow: none;
				font-size: 22px;

				&::placeholder {
					color: rgba(255,255,255,0.8);
				}
			}

			button{
				width: 15%;
				padding: 10px 30px;
				text-align: center;
			}
		}
	}
}

.overModalBusca{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 998;
	background-color: rgba(0,0,0,0.6);
	display: none;
}


.gridPost{
	width: 100%;
	margin: 40px 0;

	&.col-5{
		.grid{
			li{
				width: 20%;
			}
		}
	}

	&.col-3{
		.grid{
			li{
				width: 33.3%;
			}
		}
	}

	.grid{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		li{
			width: 25%;
			padding: 10px;
			box-sizing: border-box;

			&.pd-20{
				padding: 20px;
			}

			&:hover{
				img{
					opacity: 0.8;
				}
			}

			img{
				width: 100%;
				height: 200px;
				object-fit: cover;
			}

			.cat{
				margin-top: 7px;
				font-size: 14px;
				color: #868686;
				display: block;
			}

			.data{
				margin-top: 0px;
				font-size: 13px;
				color: #868686;
				display: block;
			}

			h4{
				font-weight: 900;
				font-size: 16px;
				line-height: 1.2;
				margin: 5px 0;
			}
		}
	}
}

.site {
    overflow-x: initial !important;
}

.inner-page, .site-content{
	margin-top: 40px;
}

@media (min-width: 768px){
	.col-full{
		max-width: 1200px !important;
	}

	.cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator{
		width: 100% !important;
		margin-top: -45px !important;
	}
}

.woocommerce-cart-form{
	float: left;
	width: 60%;
}

.cart-collaterals{
	width: calc(40% - 50px);
	float: right;
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments{
	background-color: $yellow !important;
}

.cart-collaterals .cross-sells{
	display: none;
}





.storefront-sorting{
	display: none;
}


.woocommerce-pagination{
	width: 100%;
	display: flex;
	justify-content: center;
}

#woocommerce_ordering_custom{
	display: none;

	select, option{
		text-transform: capitalize;
	}
}

.widget_price_filter .ui-slider .ui-slider-range, .widget_price_filter .ui-slider .ui-slider-handle{
	background-color: #000 !important;
}

.added_to_cart{
	background-color: transparent !important;
	color: $yellow !important;
	width: 100%;
	text-align: center;
}

.posts{
	width: 100%;
	margin: 0;
	display: flex;
	flex-wrap: wrap;

	&.col-crazy{
		._itemGrid{
			&:nth-child(3), &:nth-child(4){
				width: 50%;
			}
		}
	}

	&.pd-20{
		._itemGrid{
			padding: 20px;
			box-sizing: border-box;
		}
	}

	&.col-crazy2{
		._itemGrid{
			&:nth-child(3){
				width: 50%;
			}
		}
	}


	&.col-3-crazy{
		._itemGrid{
			&:first-child{
				width: 50%;
			}
		}
	}

	&.col-1{
		._itemGrid{
			width: 100%;
		}
	}

	&.col-2{
		._itemGrid{
			width: 50%;
		}
	}

	&.col-3{
		._itemGrid{
			width: 33.3%;
		}
	}

	._itemGrid{
		width: 25%;

		&.col-4{
			width: 25%;
		}

		&.col-3{
			width: 33.3%;
		}

		&.col-2{
			width: 50%;
		}
	}
}


._itemGrid{
	padding: 10px;
	box-sizing: border-box;
	float: left;

	.ctn{
		width: 100%;
		
		position: relative;

		.link{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0px;
			z-index: 3;
		}

		&:hover{
			.bottom{
				padding-bottom: 40px;
			}

			figure{

				&:before{
					// opacity: 0.4;
				}

				img{
					transform: scale(1.1);
				}
			}
		}

		.tags{
			display: flex;
			margin: 0px;
			margin-bottom: 10px;

			li{
				margin-right: 10px;

				a{
					display: block;
					color: #000;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 900;
					padding: 2px 5px;
					background-color: $yellow;
				}

				&:first-child{
					margin-left: 0px;
				}
			}
		}

		span{
			font-size: 15px;
		}

		.title-c{
			width: 100%;
			display: inline-block;
			font-weight: bold;
			color: #fff;
			margin: 2px 0px;
			font-size: 21px;
			font-weight: 900;
			line-height: 1.1;
			max-width: 450px;

			a{
				color: #fff;
			}
		}

		.date{
			border-left: 4px solid $yellow;
			padding-left: 8px;
			width: 100%;
			display: inline-block;
		}

		.autor{
			display: flex;
			align-items: center;
			margin-top: 12px;
			line-height: 1.2;
			font-size: 14px;

			span{
				margin: 0px 5px;

				i{
					margin-right: 5px;
					font-size: 18px;
				}
			}

			img{
				width: 25px;
				height: 25px;
				object-fit: cover;
				margin-right: 10px;
				border-radius: 80px;
			}
		}

		.infos{
			font-size: 13px;
			display: flex;
			font-weight: lighter;
			justify-content: space-between;

			span{
				margin: 0px 5px;

				&:first-child{
					margin-left: 0px;
				}

				&:first-child{
					margin-right: 0px;
				}

				i{
					margin-right: 0px;
				}
			}
		}

		figure{
			width: 100%;
			height: 350px !important;
			position: relative;
			z-index: 0;
			background-color: #000;
			overflow: hidden;
			@include border-radius(0px);

			&:before{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-color: #000;
				opacity: 0.65;
				z-index: 1;
				@extend %transition;
			}

			img{
				width: 100% !important;
				height: 100%;
				object-fit: cover;
				display: block;
				opacity: 1;
				transition: all .4s ease-in-out;
				@extend %transition;
			}
		}

		.bottom{
			width: 100%;
			position: absolute;
			left: 0px;
			bottom: 0px;
			padding: 28px;
			padding-top: 50px;
			color: #fff;
			box-sizing: border-box;
			@extend %transition;
			z-index: 2;

			.redes{
				display: flex;

				a{
					font-size: 20px;
					color: #fff;
					margin-right: 10px;
				}
			}

			a{
				color: #fff;
			}
		}
	}


	&.style-02{
		.iconMicrophone{
			position: absolute;
			right: 25px;
			top: 25px;
			color: #fff;
			font-size: 32px;
			z-index: 2;
		}

		.autor{
			display: none;
		}
	}

	&.style-03{
		.ctn{
			figure{
				height: 250px !important;

				&:before{
					opacity: 0.4;
				}
			}
		}
	}

	&.style-04{
		.ctn{
			display: inline-block;

			figure{
				width: 130px;
				height: 130px !important;
				margin-right: 15px;
				float: left;

				&:before{
					display: none;
				}
			}

			.right{
				width: calc(100% - 160px);
				float: left;

				.title-c{
					color: #000;
					font-size: 18px;
				}

				a.more{
					font-weight: bold;
					color: #000;
				}
			}

			.tags{
				margin-bottom: 5px;
				
				li a{
					color: #fff !important;
				}
			}
		}
	}

	&.style-05{
		padding: 0px 40px;

		.ctn{
			overflow: hidden;
			border-radius: 5px;

			figure{
				height: 400px !important;

				&:before{
					display: none;
				}
			}

			.bottom{
				background-color: #fff;
				color: #000;
				padding-top: 25px;
			}

			.title-c{
				color: #000;
				font-size: 20px;
				margin-bottom: 10px;
			}
		}
	}

	&.style-06{
		position: relative;
		padding: 0;

		&.flex{
			.main{
				display: flex;
				align-items: flex-end;
			}

			.main .btn{
				width: auto;
			}

			.ctn{
				.date{
					border-left: 0px;
					padding-left: 0px;
				}

				.title-c{
					margin-top: 10px;
					font-size: 32px;
					max-width: 100%;
				}

				.description{
					margin-top: 10px;
					font-size: 15px;
				}
			}
		}

		.main{

			.left{
				width: 60%;
			}

			.btn{
				margin-bottom: 20px;
				width: 225px;
				padding: 10px;
			}

		}

		.bg{
			width: 100%;
			height: 450px !important;

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.number{
			position: absolute;
			left: 20px;
			top: -10px;
			background-color: #000;
			color: $yellow;
			padding: 5px 10px;
			z-index: 2;
		}

		.totalViews{
			position: absolute;
			right: 10px;
			top: 10px;
			display: flex;
			align-items: center;
			color: #fff;
			z-index: 2;
			font-weight: bold;

			i{
				font-size: 20px;
				margin-right: 6px;
			}
		}
	}

	&.style-07{
		padding: 20px;

		.ctn{
			border-radius: 0px;

			figure{
				height: auto !important;

				&:before{
					display: none;
				}

				img{
					height: 250px;
					border-radius: 0px;
					opacity: 0.7;
				}
			}

			.bottom{
				color: #000;
				position: relative;
				padding: 10px 0;
			}

			.title-c{
				color: #000;
				font-size: 20px;
				margin-bottom: 10px;
				min-height: 45px;
			}

			.description{
				font-size: 15px;
				color: #7d7d7d;
				line-height: 1.4;
			}

			.lineBottom{
				width: 100%;
				margin-top: 20px;
				display: flex;
				justify-content: space-between;

				.btn{
				    padding: 7px 15px;
				    font-size: 17px;
				}
			}

			.date{
				border-left: 0px;
				padding-left: 0;
				font-weight: 700;
				color: #7d7d7d;
				display: flex;
				font-size: 17px;
				align-items: center;
				width: auto;

				i{
					font-size: 26px;
					margin-right: 8px;
					color: #000;
				}
			}
		}
	}
}


.bloco-posts{
	width: 100%;
	margin: 20px 0;
	display: inline-block;

	.title{
		width: 100%;
		text-align: center;
		margin: 40px 0;
		padding: 0px 10px;
		margin-bottom: 0px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.center{
			max-width: 400px;
			font-size: 14px;
			text-align: left;
		}

		.btn-ver{
			font-weight: 900;
			color: $purple;

			&:hover{
				opacity: 0.8;
			}
		}

		h3{
			font-size: 32px;
			font-weight: bold;
			position: relative;
			color: #000;
			margin: 0;

			&:before{
				content: '';
				width: 50px;
				height: 5px;
				background-color: $yellow;
				position: absolute;
				left: 0;
				top: -5px;
				margin: auto;
			}
		}

		.right{
			display: flex;
			align-items: center;
		}

		.arrows{
			display: flex;
			margin-left: 10px;

			.arrow{
				width: 35px;
				height: 35px;
				border-radius: 100px;
				border: 3px solid #bfbfbf;
				text-align: center;
				line-height: 30px;
				cursor: pointer;
				position: relative !important;
				margin: 0px 3px;
				font-size: 17px;
				color: #bfbfbf;

				&:hover{
					border-color: $purple;
					color: $purple;
				}
			}
		}
	}

	.filtroData{
		display: flex;
		align-items: center;
		margin-left: 10px;

		.leftL{
			width: 160px;
			padding-left: 8px;
			border-left: 4px solid $yellow;
			font-weight: 900;
			margin-right: 0px;
			color: #000;
			font-size: 18px;
			line-height: 1.2;
		}

		.fields{
			position: relative;

			input{
				background-color: #fff;
				box-shadow: initial;
				font-weight: 600;
				font-size: 18px;
				padding: 0px;
				margin-left: 0px;
				padding-right: 60px;
				border-bottom: 1px solid #d2cece;
    			width: 200px;
			}

			i{
				font-size: 20px;
				position: absolute;
				right: 10px;
				top: 5px;
			}
		}
	}

	&.loja{
		background-color: $yellow;
		padding: 30px 0;
   		padding-bottom: 60px;

		.title{
			.btn-ver{
				color: #000;
			}
		}
	}

	&.grey{
		padding: 40px 0;
		background-color: #f0f0f0;
	}

	&.grid-6-posts{
		display: inline-block;

		.ctn-down{
			width: 100%;
			display: flex;
			justify-content: space-between;

			.left{
				width: calc(100% - 400px);
				display: flex;
				flex-wrap: wrap;

				._itemGrid{
					width: 50%;
				}
			}

			.ads-right{
				width: 360px;
			}
		}
	}

	&.acervo{
		background-image: url('../images/bg-acervo.jpg');
		background-size: cover;
		background-color: #000;
		color: #fff;
		padding: 40px 0;
		margin-bottom: -5px;

		.title{
			margin-bottom: 40px;

			h3{
				color: #fff;
				display: flex;
				align-items: center;

				img{
					margin-right: 20px;
				}

				&:before{
					display: none;
				}
			}

			.btn-ver{
				color: $yellow;
			}

			.arrows .arrow{
				&:hover{
					border-color: $yellow;
					color: $yellow;
				}
			}
		}

		.posts{
			width: calc(100% + 50px);
			margin-left: -25px;
		}
	}
}

.newsletter{
	width: 100%;
	display: inline-block;
	padding: 40px 0;
	background-color: $yellow;
	margin-top: -2px;

	.main{
		display: flex;
		justify-content: space-between;

		.title{
			width: 280px;
			font-weight: 900;
			font-size: 28px;
			color: #000;
			line-height: 1.1;
		}

		form{
			width: calc(100% - 310px);
			display: flex;
			align-items: baseline;
			margin: 0;

			input[type="submit"]{
				background-color: #000;
				color: #fff;
				padding: 10px 20px;
				box-sizing: border-box;
				text-align: center;
				margin-left: 10px !important;
			}
		}
	}
}

.field{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;

	&.field-50{
		width: 50%;
	}

	input, textarea{
		width: 100%;
		padding: 13px !important;
		box-sizing: border-box;
		border: 0px;
		font-size: 16px;
	}



	.btn{
		background-color: #000;
		color: #fff;
		padding: 10px 20px;
		box-sizing: border-box;
		text-align: center;
		margin-left: 10px !important;
	}
}

.bannerTop{
	width: 100%;
	position: relative;
	padding: 100px 0;
	padding-bottom: 40px;
	margin-bottom: 40px;
	display: inline-block;

	&.catProduct{
		padding: 20px 0 !important;
		margin-bottom: 0;
	    background: #f9b000;

	    &:before{
	    	display: none;
	    }

	    .subtitle{
	    	font-size: 46px;
	    }
	}

	.main{
		position: relative;
		z-index: 2;
	}

	&.entrevista{
		.title{
			font-size: 42px;
			margin-bottom: 60px;
			margin-top: 0;
		}
	}

	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
		z-index: 1;
	}

	.title{
		width: 100%;
		font-weight: 600;
		font-size: 22px;
		margin: 20px 0px;
		color: #fff;
	}

	.subtitle{
		width: 100%;
		font-weight: 900;
		color: #fff;
		font-size: 57px;
		margin: 0;
		line-height: 1.1;
	}

	.bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}

	.barBottom{
		width: 100%;
		border-top: 2px solid rgba(255,255,255,0.4);
		position: absolute;
		left: 0;
		bottom: 0;

		.main{
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left{
				display: flex;

				a{
					padding: 25px 20px;
					color: #fff;
					border-bottom: 3px solid transparent;

					&:hover{
						opacity: 0.8;
					}

					&.active{
						border-color: $yellow;
					}
				}
			}

			.issn{
				padding: 5px 10px;
				color: #000;
				background-color: $yellow;
				font-weight: 900;
			}
		}
	}
}

.page-template-poroutrofutebol{

	.bannerTop{
		border-bottom: 5px solid #ccc;
	}

	.bloco-posts .title h3:before{
		background-color: #fff;
	}

	.bloco-posts .title .btn-ver{
		color: #989898;
	}

	.bloco-posts.loja .title .btn-ver{
		color: #000 !important;
	}
}


.titleCtn{
	width: 100%;
	text-align: center;
	margin: 40px 0;
	position: relative;
	font-size: 32px;
	font-weight: bold;
	color: #000;

	&:before{
		content: '';
		width: 70px;
		height: 5px;
		background-color: $yellow;
		position: absolute;
		left: 0;
		right: 0;
		top: -5px;
		margin: auto;
	}

}

.ctnForm{
	width: 100%;

	.main{
		max-width: 650px;
	}

	.field{
		width: 100%;
		padding: 10px;
		box-sizing: border-box;

		input, textarea{
			width: 100%;
			padding: 10px 15px;
			box-sizing: border-box;
			border: 0px;
			background-color: #fff;
			box-shadow: initial;
			font-size: 16px;
			border-radius: 6px;
		}

		span{
			width: 100%;
			font-size: 13px;
			margin-top: 10px;
		}

		input[type="submit"]{
			width: 220px;
			background-color: $yellow;
			border: 0px;
			color: #000;
			text-align: center;
			margin: 0 auto;
			display: table;

		}
	}
}

.barSearch{
	width: 100%;
	padding: 30px 0;
	background-color: #f2f2f2;
	margin-top: -40px;
	position: relative;
	z-index: 3;
	display: inline-block;

	form{
		margin: 0;
	}

	.main{
		display: flex;
		justify-content: space-between;
		align-items: center;

		.form{
			width: 60%;
			position: relative;
			margin: 0;

			input{
				width: 100%;
				padding: 15px;
				box-sizing: border-box;
				border: 0px;
				background-color: #fff;
			}

			button{
				position: absolute;
				right: 0px;
				top: 10px;
				background-color: transparent;
				border: 0;

				i{
					font-size: 22px;
				}
			}
		}

		.typesSearch{
			display: flex;

			a{
				color: #858585;
				margin-right: 20px;
				text-decoration: underline;

				&.active{
					color: #000;
					font-weight: 900;
				}

				&:last-child{
					margin-right: 0;
				}

				&:hover{
					color: #000;
				}

				strong{
					font-weight: bold;
					margin-right: 4px;
				}
			}
		}

		.right{
			display: flex;

			select{
				background-color: transparent;
				border: 0;
				margin-right: 20px;
				max-width: 150px;
			}
		}

		.linkDropdown{
			position: relative;
			margin-right: 30px;

			&:last-child{
				margin-right: 0;
			}

			&:hover{
				.dropdown{
					opacity: 1;
					visibility: visible;
					top: 35px;
				}
			}

			span{
				display: flex;
				align-items: center;

				i{
					margin-left: 7px;
				}
			}

			.dropdown{
				position: absolute;
				right: 0;
				top: 50px;
				width: 220px;
				opacity: 0;
				visibility: hidden;
				background-color: $yellow;
				max-height: 1000px;
				overflow: auto;

				&:before{
					content: '';
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $yellow;
					position: absolute;
					right: 18px;
					top: -10px;
				}

				&:after{
					content: '';
					width: 100%;
					height: 16px;
					position: absolute;
					left: 0;
					top: -16px;
				}

				a{
					width: 100%;
					padding: 10px;
					box-sizing: border-box;
					border-bottom: 1px solid #d09403;
					font-size: 15px;
					color: #000;
					line-height: 1.1;
					display: flex;

					p{
						margin: 0;
					}

					&:hover{
						background-color: rgba(0,0,0,0.2);
					}
				}
			}
		}
	}
}

.blocoGrid{
	width: 100%;
	margin: 40px 0;
	display: inline-block;

	.title{
		display: flex;
		align-items: baseline;

		h3{
			position: relative;
			font-weight: 900;
			padding-top: 5px;
			margin: 0;
			font-size: 36px;

			&:before{
				content: '';
				width: 70px;
				height: 5px;
				background-color: $yellow;
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		span{
			margin-left: 20px;
			margin-bottom: 8px;
		}
	}

	ul.grid{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		li._item{
			width: 20%;
			padding: 10px;
			box-sizing: border-box;

			figure{
				width: 100%;
				margin-bottom: 15px;

				img{
					width: 100%;
				}
			}
		}
	}
}


.pagination{
	width: 100%;
	display: flex;
	justify-content: center;
	border: 0px !important;

	.page-numbers{
		width: 36px;
		height: 36px;
		border: 0px;
		background-color: #fff;
		text-align: center;
		line-height: 32px;
		font-weight: 600;
		margin: 5px !important;
		color: #8e8e8e;
		font-size: 18px;

		&.current{
			color: #000;
			background-color: $yellow;
		}
	}
}

.productsGray{
	width: 100%;
	padding: 40px 0;
	background-color: #f2f2f2;

	.title{
		font-weight: 900;
		font-size: 26px;
		color: #000;
		margin-bottom: 20px;
	}

	.products.columns-3{
		display: flex;
		flex-wrap: wrap;

		li.product{
			width: 25% !important;
		}
	}
}

.highlight a{
	background: #f9b000 !important;
	color: #ffffff !important;
 }


.sliderCategory{
	width: 100%;
	margin-bottom: 40px;
	position: relative;
	height: 450px;
	overflow: hidden;

	&.hasBar{
		height: 400px;

		._itemGrid{
			.ctn{
				.bottom{
					padding-bottom: 100px;
				}
			}

			.bg{
				height: 400px !important;
			}
		}
	}

	.barBottom{
		width: 100%;
		border-top: 2px solid rgba(255,255,255,0.4);
		position: absolute;
		left: 0;
		bottom: 0;

		.main{
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left{
				display: flex;

				a{
					padding: 25px 20px;
					color: #fff;
					border-bottom: 3px solid transparent;

					&:hover{
						opacity: 0.8;
					}

					&.active{
						border-color: $yellow;
					}
				}
			}

			.issn{
				padding: 5px 10px;
				color: #000;
				background-color: $yellow;
				font-weight: 900;
			}
		}
	}

	._itemGrid{
		width: 100%;

		.ctn{
			.bottom{
				padding: 40px;
				padding-bottom: 60px;
			}

			.title-c{
				font-size: 36px;
				max-width: 550px;
				margin-top: 30px;
			}

			.autor{
				display: block;
				margin: 20px 0;
			}
		}
	}

	.slick-dots{
		display: flex;
		justify-content: center;
		position: absolute;
		right: 0px;
		top: 0;
		margin: 0;
		height: 100%;
		flex-direction: column;

		li{
			margin: 8px;

			&.slick-active button{
				background-color: rgba(255,255,255,0.8);
			}

			button{
				width: 10px;
				height: 10px;
				border: 0px;
				background-color: rgba(255,255,255,0.3);
				border-radius: 40px;
				font-size: 0;

				&:hover{
					background-color: rgba(255,255,255,0.8);
				}

			}
		}
	}
}

.mejs-container, .mejs-controls, .mejs-mediaelement{
	background: $yellow !important;
}

.tptn_counter{
	// display: none;
}

.breadcrumbBar{
	width: 100%;
	padding: 40px 0;
	background-color: #f5f5f5;

	.main{
		padding: 0px 10px;
    	box-sizing: border-box;
	}

	#breadcrumbs{
		width: 100%;
		display: block;
		color: #a0a0a0;
		font-size: 15px;
		margin: 0;

		a, span{
			color: #a0a0a0;
			margin: 0px 8px;
			display: flex;
			align-items: center;
		}

		.breadcrumb_last{
			white-space: nowrap;
			max-width: 600px;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
		}
	}
}

.ui-widget-header{
	background: #fff !important;
	border: 0px !important;
}

.bloco-volume{
	margin: 20px 0;

	.top{
		padding: 20px 0;
		border-bottom: 1px solid #f2f2f2;
		margin-bottom: 20px;

		.main{
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			.btn-ver{
				font-weight: 900;
				color: $purple;
				font-size: 18px;
				margin-bottom: 10px;

				&:hover{
					opacity: 0.8;
				}
			}
		}

		.title{
			border-left: 3px solid $yellow;
			padding-left: 10px;

			span{
				width: 100%;
				display: block;
				margin-bottom: -10px;
			}

			h3{
				font-weight: 900;
				font-size: 30px;
				color: #000;
				margin: 0;
				display: flex;

				p{
					margin: 0;
				}
			}
		}
	}

	.posts{
	    width: calc(100% + 40px);
	    margin-left: -20px;
	}

	._itemGrid.style-06{
		padding: 20px;

		.ctn{
			.tags li a{
				background-color: transparent !important;
				color: $yellow;
				padding: 0;
			}

			.title-c{
				font-size: 22PX;
			}

			.bottom{
				padding: 25px;
				padding-bottom: 30px;
			}
		}

		.bg{
			height: 350px !important;
		}
	}
}

._itemGridVolume{
	display: flex;
	align-items: center;
	padding-left: 20px;
	margin-bottom: 40px;

	figure{
		width: 370px;
		margin-right: 40px;
		position: relative;

		&:hover{
			opacity: 0.8;
		}

		img{
			width: 100%;
			height: 250px;
			object-fit: cover;
		}

		.number{
			position: absolute;
			right: -20px;
			top: 20px;
			background-color: #000;
			color: $yellow;
			padding: 5px 10px;
			z-index: 2;
		}
	}

	.right{
		width: 50%;

		.totalViews{
			display: flex;
			float: right;
			color: #767676;
			align-items: center;
			font-weight: bold;

			i{
				font-size: 25px;
				margin-right: 7px;
			}
		}

		.tags{
			display: flex;
			margin: 0px;
			margin-bottom: 10px;

			li{
				margin-right: 10px;

				a{
					display: block;
					color: #000;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 900;
					padding: 2px 5px;
					background-color: $yellow;
				}

				&:first-child{
					margin-left: 0px;
				}
			}
		}

		.title-c{
			width: 100%;
			display: inline-block;
			font-weight: bold;
			color: #000;
			margin: 2px 0px;
			font-size: 24px;
			font-weight: 900;
			line-height: 1.1;

			&:hover{
				opacity: 0.8;
			}

			a{
				color: #fff;
			}
		}

		.description{
			margin: 10px 0;
			font-size: 16px;
		}
	}
}

.search-page{
	.bannerTop{
		margin-bottom: 0;
	}

	.bannerTop .title{
		font-size: 32px;
	}
}

#calc_shipping_country_field, #calc_shipping_state_field, #calc_shipping_city_field{
	display: none !important;
}

.colaborador-page{
	.bannerTop{
		padding-top: 50px;
		
		.title{
			max-width: 700px;
		}

		.subtitle{
			font-size: 41px;
			margin-bottom: 40px;
		}

		.text{
			font-weight: 300;
    		line-height: 1.4;
    		font-size: 21px;
		}

		.btns{
			display: flex;
			margin: 40px 0;

			a{
				margin-right: 16px;
			}
		}
	}
}

.parceiros-page{
	.grid{
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		._item{
			width: 50%;
			padding: 30px;

			figure{
				width: 120px;
				margin-bottom: 30px;

				img{
					width: 100%;
				}
			}

			h4{
				font-size: 17px;
				font-weight: 900;
				position: relative;
				padding-top: 10px;

				&:before{
					content: '';
					width: 70px;
					height: 3px;
					background-color: $yellow;
					position: absolute;
					left: 0;
					top: 0;
				}
			}

			.text{
				margin-top: 10px;
			}
		}
	}
}

.bloco-form{
	width: 100%;
	padding: 50px 0;

	.main{
		max-width: 500px;
	}

	.title{
		font-size: 32px;
		font-weight: 900;
		line-height: 1;
		text-align: center;
		color: #000;
		position: relative;
		padding-top: 10px;

		&:before{
			content: '';
			width: 70px;
			height: 3px;
			background-color: $yellow;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
		}
	}

	.ctnForm{
		max-width: 500px;
		margin: 0 auto;
		margin-top: 50px;

		.field{
			width: 100%;
			padding: 5px 10px;

			input, textarea, select{
				width: 100%;
				padding: 15px;
				font-size: 15px;
				border: 1px solid #969ca7;
				border-radius: 10px;
			}

			input[type="submit"]{
				background-color: $yellow;
				color: #fff;
				border: 0;
				font-size: 17px;
				font-weight: bold;
				cursor: pointer;
				padding: 20px 15px;

				&:hover{
					background-color: #f54e1b;
				}
			}
		}
	}
}

.wpcf7 .ajax-loader{
	width: 24px !important;
}

.anuncie-page{
	.bannerTop{

		.title{
			width: auto;
		}
		
		.main{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

#bitnami-banner{
	display: none !important;
}

.woocommerce-shipping-calculator .shipping-calculator-form{
	display: block !important;
}


.buddypress .site-main{
	max-width: 1200px;
	margin: 0 auto !important;
	margin-top: 40px !important;
}