.biblioteca-page{

	.listBilioteca{
		width: 100%;
		margin: 40px 0;

		.title{
			font-size: 32px;
			font-weight: 900;
			width: 100%;
			margin-bottom: 20px;
			color: #000;
		}

		&.grey{
			background-color: #f2f2f2;
			padding: 40px 0;
			margin-bottom: 0;
		}

		.topList{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px 0;
			margin-bottom: 10px;
			border-bottom: 1px solid #f2f2f2;

			h3{
				margin: 0;
			}

			.btn-ver{
				font-weight: 900;
				color: $yellow;
			}
		}

		.gridBiblioteca{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin: 0;

			._item{
				width: 25%;
				padding: 20px;
				text-align: center;

				&:hover{
					figure{
						img{
							transform: scale(1.05);
						}
					}
				}

				figure{
					width: 100%;
					margin-bottom: 15px;
					height: 230px;

					img{
						max-width: 160px;
						margin: auto;
						display: block;
						height: 100%;
						object-fit: contain;
					}
				}

				h4{
					font-weight: 900;
					font-size: 17px;
					color: #000;
					line-height: 1.1;
				}

				span{
					font-size: 15px;
					color: #676767;
					font-weight: lighter;
				}
			}
		}
	}

	.bloco-first{
		width: 100%;
		margin: 50px 0;
		margin-bottom: 0px;
		display: inline-block;

		.main{
			display: flex;
			justify-content: space-between;

			figure{
				width: 30%;

				img{
					width: 100%;
				}
			}

			.right{
				width: calc(70% - 50px);

				span{
					font-weight: 100;
					color: #000;
				}

				h2{
					font-weight: 900;
					font-size: 48px;
					margin: 5px 0;
					line-height: 1;
					color: #000;
				}

				h5{
					color: #a4a7ab;
					margin: 0;
					width: 100%;
    				display: inline-block;
    				font-weight: 700;
    				font-size: 18px;
				}

				.ctnFields{
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					padding: 15px 0;
					margin: 10px 0;
					border-top: 1px solid #cbcbcb;
					border-bottom: 1px solid #cbcbcb;

					.item{
						padding: 10px;
						width: 33.3%;

						p{
							margin: 0;
							color: #000;
							margin-top: -4px;
						}

						a{
							font-weight: bold;
							color: $yellow;
						}

						strong{
							font-size: 18px;
							color: #000;
							font-weight: 900;
						}
					}
				}

				.links{
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					margin: 15px 0;

					.col{
						margin-right: 50px;
						display: flex;
						align-items: center;

						&:last-child{
							margin-right: 0;
						}

						img{
							margin-right: 20px;
						}
					}
				}
			}
		}
	}

	.bloco-second{
		width: 100%;

		.line{
			width: 100%;
			margin: 40px 0;

			.title{
				font-size: 32px;
				font-weight: 900;
				width: 100%;
				margin-bottom: 20px;
				color: #000;
			}

			.text{
				font-size: 20px;

				p{
					margin: 15px 0;
				}
			}

			.links{
				display: flex;
				flex-wrap: wrap;

				.link{
					margin-right: 40px;
					margin-bottom: 20px;

					p{
						margin: 0;
						margin-bottom: 10px;
						color: #000;
						font-size: 18px;
						font-weight: 700;
					}
				}
			}
		}

		iframe{
			margin-top: 40px;
		}
	}

	.tptn_counter{
		display: none;
	}

}