.editora-page{
	
	.bannerTop{
		padding: 80px 0;

		&:before{
			display: none;
		}

		.title{
			max-width: 600px;

			.title{
				color: $yellow;
				font-weight: 600;
				font-size: 32px;
			}

			.subtitle{
				font-size: 67px;
			}

			.text{
				font-weight: 300;
				font-size: 20px;
				line-height: 1.2;
				margin-top: 40px;
			}
		}
	}

	.section02{
		width: 100%;
		margin: 60px 0;

		.main{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.left{
				width: 50%;

				h3{
					font-weight: 900;
					font-size: 28px;
				}

				.texto{
					p{
						margin: 15px 0;
						font-size: 20px;
					}
				}
			}

			.right{
				width: 45%;

				img{
					width: 875px;
					max-width: initial;
					height: 500px;
					object-fit: cover;
				}
			}
		}
	}

	.section03{
		width: 100%;
		position: relative;
		padding: 80px 0;
		color: #fff;
		margin-top: -20px;

		.main{
			max-width: 1000px;
		}

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.6);
			z-index: 1;
		}

		.bg{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 0;
		}

		h3{
			width: 100%;
			text-align: center;
			font-weight: 900;
			font-size: 38px;
			color: #fff;
		}

		.texto{
			p{
				margin: 18px 0;
				font-size: 20px;
			}
		}
	}

	.section04{
		width: 100%;
		margin: 60px 0;
		display: inline-block;

		.main{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.left{
				width: 45%;

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.right{
				width: 50%;
				padding: 40px 0;

				h3{
					font-weight: 900;
					font-size: 38px;
					line-height: 1;
					color: #000;
					position: relative;
					padding-top: 15px;

					&:before{
						content: '';
						width: 70px;
						height: 5px;
						background-color: $yellow;
						position: absolute;
						left: 0;
						top: 0;
					}
				}

				.texto{
					p{
						margin: 15px 0;
						font-size: 20px;
					}
				}
			}
		}
	}

	.section05{
		width: 100%;
		padding: 40px 0;
		background-color: #f2f2f2;

		.main{
			max-width: 580px;
		}
	}
	
}