.home-page{

	&.admin-bar{
		.site-header{
			top: 32px;
		}
	}

	.sliderCtn{
		width: 100%;
		margin-bottom: 40px;
		height: 750px;
		overflow: hidden;

		.slider{
			width: 100%;
			margin: 0px;
			position: relative;
			opacity: 0;
			visibility: hidden;

			&.show{
				opacity: 1;
				visibility: visible;
			}

			.slick-dots{
				position: absolute;
				top: 40%;
				display: flex;
				margin: 0;
				opacity: 0;
				flex-direction: column;

				&.active{
					opacity: 1;
				}

				li{
					padding: 10px;

					button{
						width: 8px;
						height: 8px;
						border-radius: 80px;
						border: 1px solid #fff;
						background-color: transparent;
						font-size: 0px;
					}

					&.slick-active button{
						background-color: $yellow;
						border-color: $yellow;
					}
				}
			}

			.itemSlider{
				width: 100%;
				padding-top: 180px;
				position: relative;
				height: 750px;

				.main{
					max-width: 1200px;
					display: flex;
					justify-content: space-between;
					position: relative;
					z-index: 2;
				}

				.left{
					width: 50%;
					color: #fff;
					padding: 65px 0;

					.tags{
						display: flex;
						flex-wrap: wrap;
						
						a{
							margin-right: 10px;
							padding: 5px;
							font-weight: bold;
							color: $yellow !important;
							font-size: 16px;
							text-transform: uppercase;
						}
					}

					span{
						font-weight: bold;
						color: $yellow;
						font-size: 16px;
						width: 100%;
						display: inline-block;
						margin-bottom: 5px;
					}

					h3{
						font-weight: bold;
						color: #fff;
						font-size: 53px;
    					line-height: 1;
					}

					.descricao{
						margin: 15px 0;
						position: relative;
						font-size: 19px;
						line-height: 1.5;
					}

					.btn{
						margin-top: 20px;
						display: inline-block;
					}

				}

				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
					background-color: #000;
				}

				&:after{
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 30%;
					z-index: 0;
					background: rgb(0,0,0);
					background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6446953781512605) 100%);
				}

				.linkBg{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
				}

				img{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					z-index: 0;
					opacity: 0.4;
				}
			}
		}
	}

	section.lancamentos{
		width: 100%;
		overflow: hidden;
		padding-top: 60px;
		position: relative;
		z-index: 2;


		&:before{
				content: '';
				width: 0; 
				height: 0; 
				border-bottom: 150px solid transparent; 
				border-left: 200px solid $purple;
				position: absolute;
				left: 0px;
				top: 100px;
			}

			&:after{
				content: '';
				width: 0; 
				height: 0; 
				border-bottom: 150px solid transparent; 
				border-left: 200px solid $purple;
				position: absolute;
				left: 0px;
				top: 250px;
			}
			
		.main{
			display: flex;
			align-items: center;

			

			.left{
				width: 25%;
				margin-right: 40px;

				h3{
					font-size: 40px;
					font-weight: bold;
					line-height: 1;
				}

				.desc{
					margin: 20px 0;
					padding-top: 20px;
					position: relative;
					font-size: 15px;
					line-height: 1.4;

					&:before{
						content: '';
						width: 62px;
						height: 3px;
						background-color: $purple;
						position: absolute;
						left: 0;
						top: 0px;
					}
				}

				.btn{
					display: inline-block;
					margin-top: 20px;
				}
			}

			.right{
				width: 70%;

				.ctn{
					width: 1300px;
					overflow: hidden;
					background-color: #000;
					padding: 80px;
					box-sizing: border-box;
					position: relative;
					@extend %transition;

					&:before{
						content: '';
						width: 0; 
						height: 0; 
						position: absolute;
						left: 0;
						top: 0;
						border-bottom: 80px solid transparent;
						border-left: 80px solid #fff;
					}

					.arrows{
						position: absolute;
						left: 75px;
						bottom: 45px;
						display: flex;

						button{
							width: 50px;
							height: 50px;
							position: relative;
						}

						i{
							font-size: 20px;
							color: #fff;
						}
					}

					.slick-track{
						min-height: 550px;
					    display: flex;
					    align-items: center;
					}

					&:hover{
						li.product{
							opacity: 0.7;
						}
					}

					li.product{
						clear: initial !important;
						position: relative;
						@extend %transition;
						top: 0;
						margin-bottom: 0 !important;

						&:hover{
							top: -60px;
							opacity: 1;

							img{
								opacity: 1;
							}

							.ctnDown{
								opacity: 1;
								visibility: visible;
								height: auto;
							}
						}

						.ctnDown{
							opacity: 0;
							visibility: hidden;
							height: 0;
							overflow: hidden;
							position: absolute;
							left: 15px;
							bottom: -100px;
							@extend %transition;
							width: 100%;
    						padding: 0px 20px;
    						box-sizing: border-box;
						}

						.onsale{
							background-color: $purple;
							display: none;
						}

						.button{
							color: #fff;
						}

						.ctnTitleProduct .woocommerce-loop-product__title, .author_product{
							color: #fff;
						}

						.price .woocommerce-Price-amount{
							color: #fff;
						}
					}

					
				}
			}
		}
	}

	section.content-products {
		padding: 50px 0;
		position: relative;

		&.first{
			margin-top: -90px;
			padding-top: 180px;
		}

		&.cinza{
			background-color: #f5f5f5;
		}

		&.with-arrows{

			&.third{
				&:before{
					display: none;
				}

				&:after{
					top: 0;
					border-bottom: 500px solid transparent;
					border-right: 200px solid #a4edd4;
				}

			}

			&.fourth{

				&:before{
					border-top: 500px solid transparent;
					border-left: 200px solid #ffe488;
				}

				&:after{
					display: none;
				}
			}

			&:before{
				content: '';
				width: 0; 
				height: 0; 
				border-bottom: 150px solid transparent; 
				border-left: 200px solid $purple;
				position: absolute;
				left: 0px;
				bottom: 10%;
			}

			&:after{
				content: '';
				width: 0; 
				height: 0; 
				border-bottom: 150px solid transparent; 
				border-right: 200px solid $purple;
				position: absolute;
				right: 0px;
				top: 250px;
			}
		}

		.title{
			width: 100%;
			text-align: center;
			margin: 40px 0;
			margin-bottom: 0px;
			position: relative;

			.btn-ver{
				position: absolute;
				right: 0;
				top: 15px;
				font-weight: bold;
				color: #000;

				&:hover{
					opacity: 0.8;

					i{
						margin-left: 5px;
						margin-right: 5px;
					}
				}

				i{
					margin-left: 10px;
					@extend %transition;
				}
			}

			h3{
				font-size: 38px;
				font-weight: bold;
				position: relative;	

				&:before{
					content: '';
					width: 60px;
					height: 5px;
					background-color: $purple;
					position: absolute;
					left: 0;
					right: 0;
					top: -6px;
					margin: auto;
				}
			}
		}
	}

	.links-rapidos{
		width: 100%;
		padding: 80px 0;

		.main{
			display: flex;

			.link{
				width: 50%;
				margin: 10px;
				position: relative;
				background-size: cover;
				display: flex;
				@extend %transition;

				&:hover{
					opacity: 0.8;
					
					.left{
						padding-bottom: 50px;
					}
				}

				.left{
					width: 60%;
					min-height: 300px;
					padding: 40px;
					box-sizing: border-box;
					display: flex;
					align-items: flex-end;
					@extend %transition;

					h5{
						color: #fff;
						font-weight: bold;
						line-height: 1;
						font-size: 36px;
						max-width: 180px;

						.first{
							color: #fff;
						}
					}
				}

				.right{
					width: 40%;
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
					color: #fff;
					z-index: 2;
					padding: 40px;
					box-sizing: border-box;
					display: flex;
					align-items: flex-end;
					opacity: 0.9;
				}
			}
		}
	}

	.circleYellow{
		width: 800px;
		height: 800px;
		border: 150px solid $yellow;
		background-color: transparent;
		position: absolute;
		border-radius: 800px;
	}

	.bloco-posts{
		position: relative;

		&.first{
			.circleYellow{
				top: -50%;
				right: -500px;
			}
		}

		&.second{
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: -40%;
				width: 100%;
				height: 500px;
				background-color: #f0f0f0;
				z-index: 0;
			}
		}

		&.third{
			.circleYellow{
				top: -50%;
				left: -500px;
			}
		}

		&.acervo{
			overflow: hidden;

			.circleYellow{
				bottom: -88%;
				right: -200px;
			}
		}
	}

}