.museu-page{
	
	.blocoGalerias{
		width: 100%;
		margin: 40px 0;
		display: inline-block;

		ul.grid{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin: 0;

			li._item{
				width: 33.3%;
				padding: 10px;
				box-sizing: border-box;

				figure{
					width: 100%;
					margin-bottom: 15px;
					position: relative;
					margin-bottom: 5px;
					overflow: hidden;

					&:hover{
						.image{
							transform: scale(1.1);
						}
					}

					&:before{
						content: '';
						width: 100%;
						height: 100%;
						background-color: rgba(0,0,0,0.4);
						position: absolute;
						left: 0;
						top: 0;
						z-index: 2;
					}

					.image{
						width: 100%;
						height: 300px;
						object-fit: cover;
					}

					span{
						position: absolute;
						right: 20px;
						bottom: 20px;
						display: flex;
						color: #fff;
						font-size: 20px;
						z-index: 3;

						img{
							margin-right: 10px;
							object-fit: contain;
						}
					}
				}

				h4{
					font-weight: bold;
					font-size: 20px;
					color: #000;
				}
			}
		}
	}

	.contentMain{
		margin: 60px 0;

		.main{
			max-width: 900px;
		}

		.top{
			width: 100%;
			padding: 0px 20px;
			border-left: 7px solid $yellow;
			margin-bottom: 20px;

			span{
				width: 100%;
				color: #000;
				font-size: 18px;
				margin-bottom: -6px;
				display: block;
			}

			h2{
				font-weight: 900;
				color: #000;
				margin: 0;
			}
		}

		.slider{
			width: 100%;
			position: relative;

			a[rel="prev"], a[rel="next"]{
				position: absolute;
				top: 0;
				bottom: 0px;
				color: #000;
				width: 25px;
				height: 36px;
				margin: auto;

				&:hover{
					opacity: 0.7;
				}

				i{
					font-size: 36px;
				}
			}

			a[rel="prev"]{
				right: -40px;
			}

			a[rel="next"]{
				left: -40px;
			}

			img{
				max-width: 100%;
				object-fit: contain;
				text-align: center;
				display: block;
				margin: 0 auto;
			}
		}

		.bottom{
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 10px 0;
			border-bottom: 1px solid #e1e2e3;
			margin-bottom: 10px;

			.left{
				display: flex;
				align-items: center;

				.linkExternal{
					margin-left: 20px;
					color: #000;

					&:hover{
						color: $yellow;
					}

					i{
						font-size: 26px;
					}
				}

				.autor{
					display: flex;
					margin-left: 30px;
					font-weight: 500;
					color: #000;

					a{
						color: #000;
						margin: 0px 5px;

						&:hover{
							color: $yellow;
						}
					}
				}
			}

			.share{
				display: flex;
				align-items: center;

				span{
					margin-right: 10px;
				}

				.redes{
					display: flex;

					a{
						font-size: 20px;
						color: #000;
						margin: 0 7px;
					}
				}
			}
		}

		.content{
			width: 100%;

			h4{
				font-weight: 900;
				display: flex;
				align-items: center;
				color: #000;

				.totalViews{
					color: #000;
					display: flex;
					align-items: center;

					i{
						font-size: 26px;
						margin-right: 5px;
					}
				}
			}

			p{
				margin: 10px 0;
			}
		}
	}

	.gridGaleryMin{
		width: 100%;
		margin: 40px 0;

		.main{
			max-width: 1000px;
		}

		.grid{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin: 0;

			li{
				width: 25%;
				padding: 10px;
				box-sizing: border-box;

				&:hover{
					img{
						opacity: 0.8;
					}
				}

				img{
					width: 100%;
					height: 200px;
					object-fit: cover;
				}

				.cat{
					margin-top: 7px;
					font-size: 14px;
					color: #868686;
					display: block;
				}

				.data{
					margin-top: 0px;
					font-size: 13px;
					color: #868686;
					display: block;
				}

				h4{
					font-weight: 900;
					font-size: 18px;
					line-height: 1.2;
					margin: 0;
				}
			}
		}
	}
	
}


span[class*="iconcc"], span[class*="icon-cc"]{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('../images/icones/sprite-creative-commons.png');
    vertical-align: middle;
    margin: 2px;
}

.iconcc-cc {
    background-position: 0px 0px;
}

.icon-cc-c-sprite {
    background-position: 0px -173px;
}

.iconcc-cc-pd {
    background-position: 0px -29px;
}

.iconcc-cc-by {
    background-position: 0px -57px;
}

.iconcc-cc-nc {
    background-position: 0px -86px;
}

.iconcc-cc-nd {
    background-position: 0px -144px;
}

.iconcc-cc-sa {
    background-position: 0px -115px;
}