.page-404{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70vh;
	text-align: center;
	position: relative;

	.ctn{
		position: relative;
		z-index: 2;

		h2{
			font-weight: 900;
			font-size: 28px;
		}

		h4{
			font-weight: 900;
			font-size: 90px;
		}
		
	}


	.btn{
		margin-top: 60px;
		display: inline-block;
		font-weight: bold;
	}
}