.products{
	margin: 0;
	width: 100% !important;

	li.product{
		padding: 10px;
		clear: initial !important;
		margin-bottom: 0px;
		position: relative;
		text-align: left !important;

		&.onbackorder{
			.button{
				background-color: #efaa04;
			}
		}

		&:hover{
			img{
				opacity: 0.7;
			}
		}

		.tag{
			padding: 10px;
			background-color: #f9b000;
			color: #000;
			font-size: 15px;
		}

		img{
			margin-bottom: 15px !important;
			height: 210px;
			width: 180px;
			object-fit: contain;
		}

		.ctn{
			width: 100%;
			background-color: #fff;
			padding: 30px 25px;
		}

		.tinvwl_add_to_wishlist_button{
			position: absolute;
			right: 30px;
			top: 20px;
			color: #000;

			.tinvwl_add_to_wishlist-text{
				display: none;
			}
		}

		.ctnTitleProduct{
			text-align: left;
			margin-bottom: 10px;

			.woocommerce-loop-product__title{
				font-weight: bold;
				font-size: 17px !important;
				color: #000;
				min-height: 62px;
			}
		}

		.woocommerce-loop-product__link{
			min-height: 80px;
		}

		.onsale{
			padding: 8px 10px;
			background-color: #000;
			color: #fff;
			position: absolute;
			left: 10px;
			top: 20px;
			border-radius: 0px;
			border: 0;
		}

		.button{
			padding: 10px;
			box-sizing: border-box;
			background-color: #000;
			color: #fff;
			width: 100%;
			text-align: center;
			margin-top: 20px;
		}

		.price{
			font-size: 20px;
			margin-bottom: -5px !important;
			min-height: 74px;

			del{
				.woocommerce-Price-amount{
					font-size: 18px !important;
					text-decoration: line-through;
					font-weight: normal;
				}
			}

			ins{
				margin-left: 0 !important;

			}

			.woocommerce-Price-amount{
				color: #000;
				font-weight: bold;
				font-size: 32px;
				width: 100%;
				display: inline-block;
				margin-top: -10px;

				.woocommerce-Price-currencySymbol{
					font-size: 20px;
					margin-right: 5px;
				}
			}
		}
	}

	&.columns-4{
		li.product{
			width: 25%;
			margin-bottom: 20px;
		}
	}
}


.products-page {

	.productDestaque{
		width: 100%;
		padding-top: 60px;
		position: relative;

		.main{
			max-width: 1050px;
			display: flex;
			justify-content: space-between;
			position: relative;
			z-index: 2;
		}

		.left{
			width: 50%;
			max-width: 460px;
			color: #fff;
			padding-top: 40px;
			padding-bottom: 160px;

			span{
				font-weight: bold;
				color: $yellow;
				font-size: 16px;
				width: 100%;
				display: inline-block;
				margin-bottom: 5px;
			}

			h3{
				font-weight: bold;
				color: #fff;
				font-size: 48px;
				line-height: 1;
			}

			.descricao{
				margin: 20px 0;
				position: relative;
				font-size: 17px;
				line-height: 1.4;
			}

			.linePrice{
				display: flex;
				align-items: center;

				.regularPrice{
					font-size: 18px;
					font-weight: 400;
					color: #fff;
					opacity: 0.7;
					text-decoration: line-through;
					margin-bottom: -10px;
					display: block;
				}

				h5{
					color: #fff;
					font-weight: 900;
					font-size: 32px;
					margin: 0;
					white-space: nowrap;
				}

				.button{
					background-color: $yellow;
					color: #000;
					margin-left: 30px;
					text-transform: uppercase;
					font-weight: 900;
					display: table;
					white-space: nowrap;
				}

			}

			
		}

		.right{
			width: 46%;

			img{
				max-width: 100%;
				max-height: 520px;
				box-shadow: 1px 4px 24px -6px rgba(0,0,0,0.62);
				-webkit-box-shadow: 1px 4px 24px -6px rgba(0,0,0,0.62);
				-moz-box-shadow: 1px 4px 24px -6px rgba(0,0,0,0.62);
				margin: 0 auto;
				margin-bottom: 5px;
				display: block;
			}
		}

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: calc(100% - 60px);
			z-index: 0;
			background-color: #000;
		}

		.bg{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: calc(100% - 60px);
			object-fit: cover;
			z-index: 0;
			opacity: 0.4;
		}
	}

	.site-main{
		.main{
			max-width: 1200px;
			display: flex;
			justify-content: space-between;
		}
	}
}