.single-product{

	.site-main{
		margin-top: 40px;
	}

	div.product .summary{
		width: 48% !important;
	}

	.woocommerce-product-gallery{
		// background: #fff;
		margin-right: 25px !important;
		width: calc(50% - 25px) !important;

		img{
			margin: 0 auto !important;
		}

		li{
			margin: 0px !important;
			clear: initial !important;
			padding: 0px 10px;
			box-sizing: border-box;

			img{
				width: 100%;
				opacity: 1 !important;
				border-radius: 6px;
				border: 3px solid rgba(255,255,255,0);

				&.flex-active{
					border-color: $yellow;
				}
			}
		}
	}

	.product_title{
		font-weight: 900;
		font-size: 46px;
		margin-bottom: 0px;
	}

	.ctnTitle{
		margin-bottom: 40px;
	}

	div.product form.cart{
		margin-bottom: 0 !important;
		padding: 0px !important;
	}

	.tinvwl_add_to_wishlist_button{
		display: none;
	}

	.single_add_to_cart_button{
		background-color: #000 !important;
		color: #fff !important;
	}

	.ctnPrice{
		// width: 100%;
		padding: 15px 20px;
		box-sizing: border-box;
		border: 2px solid #e2e2e2;
		border-radius: 6px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 20px 0;


		&.virtual{
			border-color: transparent;
			padding: 0px 20px;

			.priceLeft {
				.woocommerce-Price-amount{
					font-size: 28px;
				}

				span{
					color: #636363;
					font-size: 18px;
					margin-bottom: -8px !important;
				}
			}

			.links{
				display: flex;
    			flex-wrap: wrap;
    			
				.btn{
					padding: 8px 20px;
    				background-color: #fff;
    				border: 2px solid #000;
    				margin: 4px 5px;
    				color: #000;
    				font-weight: bold;
    				text-align: center;
    				min-width: auto !important;

    				&:hover{
    					background-color: #f2f2f2;
    				}
				}
			}
		}

		form{
			margin-bottom: 0;
		}

		.input-text.qty{
			background-color: #e9e9e9;
			border: 1px solid #ccc;
			border-radius: 6px;
			margin-right: 20px;
		}

		.priceLeft{
			width: 120px;
			margin-right: 20px;
			font-weight: 900;

			span{
				font-size: 18px;
				color: #000;

				&.labelP{
					margin-bottom: 0px;
					display: block;
					font-weight: 900;
				}
			}

			del{
				display: block;
				margin-bottom: -16px;

				.woocommerce-Price-amount{
					font-size: 16px;

					span{
						font-size: 15px;
					}
				}
			}

			ins{
				margin-left: 0px;
				display: block;
				margin-bottom: -10px;
			}

			.woocommerce-Price-amount{
				font-size: 32px;
				font-weight: 900;

				span{
					margin-right: 5px;
				}
			}
		}
	}
}

.yith-wfbt-section .yith-wfbt-images{
	width: 70% !important;
}

.yith-wfbt-submit-block{
	float: left;
	text-align: center;
}

.yith-wfbt-section .yith-wfbt-images td{
	background-color: transparent !important;
}

.yith-wfbt-section .yith-wfbt-images td img{
	margin: 0 auto;
	width: 230px !important;
	border: 15px solid #fff;
	border-radius: 6px;
}

.yith-wfbt-section .yith-wfbt-images .image_plus{
	font-size: 50px;
}

.ctnLine{
	width: 100%;
	display: inline-block;
	margin: 15px 0;
	padding: 25px 0;
	padding-bottom: 0px;
	border-top: 1px solid #c5c5c5;

	h4{
		font-weight: 900;
    	font-size: 20px;
	}

	&.autor{
		border-top: 0px;
		
		.ctn{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			figure{
				width: 160px;

				img{
					width: 100%;
					height: 165px;
					object-fit: cover;
				}
			}

			.bio{
				width: calc(100% - 200px);
				color: #787878;
			}
		}
	}

	.grid-noticias{
		width: calc(100% + 40px);
		margin-left: -20px;
		display: flex;
		flex-wrap: wrap;

		._item{
			width: 25%;
			color: #aaa9a9;
			padding: 15px 20px;
			box-sizing: border-box;

			h3{
				font-weight: 900;
				font-size: 20px;
				line-height: 1.2;
				color: #787878;

				&:hover{
					color: #000;
				}
			}

			a.ver{
				color: #000;
				font-weight: 600;
			}
		}
	}
}

.btn-trecho{
	display: inline-block;
	margin-bottom: 30px;
	padding: 10px 30px;
}

.dadosTecnicos{

	.woocommerce-product-details__short-description{
		column-count: 3;
	}
}

.ctnDescription{
	width: 100%;
	overflow-x: auto;
	max-height: 450px;

	.btnMore{
		font-size: 28px;
		color: #000;
	}

	&.hasMore{
		position: relative;

		.btnMore{
			display: block;
		}

		&:after{
			content: '';
			width: 100%;
			height: 100px;
			background: rgb(255,255,255);
			background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}

.up-sells{
	margin-top: 40px !important;
}

.yith-wfbt-section h3, .up-sells h2{
	font-weight: 900 !important;
    font-size: 20px !important;
    text-align: left !important;
    margin-bottom: 0px !important;
}

.single-product .yith-wfbt-submit-block{
	margin-top: 150px;

	.total_price{
		font-size: 32px;
	    font-weight: 900;
	    color: #000;
	    width: 100%;
	    display: block;
	}

	.yith-wfbt-submit-button{
		border-radius: 100px;
	}
}