.quem-somos-page{

	.bannerTop .title{
		font-size: 30px;
	}

	p{
		font-size: 18px;
	}

	.bloco-first{
		width: 100%;
		display: inline-block;
		margin: 90px 0;

		.main{
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left{
				width: 42%;

				img{
					max-width: 250px;
				}
			}

			.right{
				width: 50%;

				img{
					width: 952px;
					height: 550px;
					object-fit: cover;
					max-width: initial;
					border-radius: 0px;
				}
			}
		}
	}

	.bloco-second{
		width: 100%;
		display: inline-block;
		margin: 40px 0;

		.main{
			max-width: 1000px;
			text-align: center;

			.icon{
				margin: 0 auto;
				display: block;
				margin-bottom: 10px;
			}

			h3{
				font-size: 24px;
				font-weight: 900;
			}

			.text{
				width: 100%;
				margin: 20px 0;
			}
		}
	}

	.bloco-third{
		width: 100%;
		display: inline-block;
		padding: 80px 0;
		background-color: #f5f5f5;

		.main{
			.icon{
				margin: 0 auto;
				display: block;
			}

			h3{
				font-size: 26px;
				font-weight: 900;
			}

			.text{
				width: 100%;
				margin: 20px 0;
			}
		}
	}

	.bloco-fourth{
		width: 100%;
		display: inline-block;
		padding: 80px 0;

		h3{
			font-size: 26px;
			font-weight: 900;
			width: 100%;
			text-align: center;
			position: relative;
			padding-top: 10px;

			&:before{
				content: '';
				width: 70px;
				height: 3px;
				background-color: $yellow;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				margin: auto;
			}
		}

		.slider{
			width: 100%;
			margin: 0;
			margin-top: 40px;

			&:hover{
				li{
					opacity: 0.6;
				}
			}

			li{

				&:hover{
					opacity: 1;
				}
				

				img{
					width: 138px;
					height: 138px;
					object-fit: contain;
					margin: 0 auto;
				}
			}
		}	
	}

	.bloco-fifth{
		width: 100%;
		position: relative;
		padding: 90px 0;

		.main{
			position: relative;
			z-index: 2;
			color: #fff;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.left{
				width: calc(100% - 350px);

				h3{
					font-weight: 900;
					font-size: 22px;
					color: #fff;
				}
			}

			.btn{
				min-width: 230px;
				text-align: center;
				display: block;
				margin-bottom: 5px;
			}
		}

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(0,0,0,0.6);
		}

		img.bg{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 0;
		}
	}
}

.politicas-page{
	padding: 80px 0;

	p{
		font-size: 22px;
	}
}