@media only screen and (max-width: 1785){
	.home-page .bloco-posts.third .circleYellow{
		left: -600px;
	}	
}

@media only screen and (max-width: 1530px){

	.site-header .brand img{
		max-width: 160px;
	}

	.site-header .right{
		width: calc(100% - 178px);
	}

	.site-header .right nav.main-menu ul li a{
		padding: 20px 9px;
	}

	.site-header .btn{
		padding: 10px 11px;
	}

	.home-page .bloco-posts.third .circleYellow{
		left: -700px;
	}	

}


@media only screen and (max-width: 1438px){

	.site-header .btn img{
		display: none;
	}

	.site-header .right nav.main-menu ul li{
		padding: 30px 0px;
	}
}


@media only screen and (max-width: 1320px){

	.home-page .bloco-posts.first .circleYellow{
		right: -600px;
	}

	.home-page .bloco-posts.third .circleYellow{
		display: none;
	}	
}


@media only screen and (max-width: 1250px){

	.site-header .right nav.main-menu ul li a{
		padding: 20px 5px;
	}

	.site-header .btn{
		min-width: initial;
		padding: 10px 7px;
	}

}


@media only screen and (max-width: 1160px){
	.site-header .right nav.main-menu{
		display: none;
	}

	.site-header .right{
		width: auto;
		margin: 20px 0px;
	}

	.site-header .right .infosCtn .clickMenuDrop .submenu{
		.mobile{
			display: block;
		}
	}

	.site-header .right .infosCtn .clickMenuDrop{
		margin-left: 30px;
	}

	.newsletter .main .title{
		width: 25%;
	}

	.newsletter .main form{
		width: 70%;
	}
}

@media only screen and (max-width: 980px){

	.home-page .sliderCtn .slider .itemSlider .left{
		width: 90%;
	}

	.home-page .sliderCtn .slider .itemSlider .left h3{
		font-size: 40px;
	}

	.home-page .bloco-posts.first .circleYellow{
		display: none;
	}

	.barAds .ads.apoie .left{
		font-size: 26px;
	}

	.posts ._itemGrid, .posts.col-crazy ._itemGrid:nth-child(3), .posts.col-crazy ._itemGrid:nth-child(4){
		width: 33.3%;
	}

	.bloco-posts.grid-6-posts .ctn-down .left{
		width: 80%;
	}

	.bloco-posts.grid-6-posts .ctn-down .ads-right{
		width: 30%;
	}

	.bloco-posts.grid-6-posts .ctn-down .ads-right{
		display: none;
	}

	.bloco-posts.grid-6-posts .ctn-down .left{
		width: 100%;
	}

	._itemGrid.style-05{
		padding: 0px 10px;
	}

	.gridPost.col-5 .grid li{
		width: 25%;
	}

	._itemGrid.style-06.flex .main{
		flex-wrap: wrap;
	}

	._itemGrid.style-06 .main .left{
		width: 100%;
		margin-bottom: 20px;
	}
}


@media only screen and (max-width: 810px){
	.posts ._itemGrid, .posts.col-crazy ._itemGrid:nth-child(3), .posts.col-crazy ._itemGrid:nth-child(4){
		width: 50%;
	}

	.products.columns-4 li.product{
		width: 50%;
	}

	.wc-block-grid__products, ul.products{
		display: flex;
		flex-wrap: wrap;
	}

	.bloco-posts .title .center{
		display: none;
	}

	footer .lineMiddle{
		display: none;
	}

	.site-header .headerTop .main .left{
		display: none;
	}

	.site-header .headerTop .main{
		justify-content: center;
	}

	.biblioteca-page .listBilioteca .gridBiblioteca ._item{
		width: 33.3%;
	}

	.biblioteca-page .bloco-first .main{
		flex-wrap: wrap;
	}

	.biblioteca-page .bloco-first .main figure{
		width: 100%;
		margin-bottom: 15px;

		img{
			height: auto;
			object-fit: cover;
		}
	}

	.biblioteca-page .bloco-first .main .right{
		width: 100%;
	}

	.apoie-page .bannerTop .main .right{
		width: 42%;
	}

	.museu-page .blocoGalerias ul.grid li._item{
		width: 50%;
	}

	.gridPost.col-5 .grid li{
		width: 33.3%;
	}

	.productsGray .products.columns-3 li.product{
		width: 100% !important;
	}
}


@media only screen and (max-width: 750px){

	._itemGrid.style-04 .ctn .right{
		width: 100%;
	}

	._itemGrid.style-04 .ctn figure{
		width: 100%;
		margin-bottom: 10px;
	}

	.newsletter .main{
		flex-wrap: wrap;
	}

	.newsletter .main .title{
		width: 100%;
	}

	.newsletter .main form{
		width: 100%;
	}

	footer .lineTop .main .left .substantivo{
		display: none;
	}

	.site-header{
		padding-bottom: 0px !important;
	}

	.biblioteca-page .listBilioteca .gridBiblioteca ._item{
		width: 50%;
	}

	.apoie-page .bannerTop .main{
		flex-wrap: wrap;
	}

	.apoie-page .bannerTop .main .right{
		width: 100%;
		margin-top: 40px;
	}

	.apoie-page .bannerTop:after{
		display: none;
	}

	.apoie-page .bannerTop .main .left{
		width: 100%;
	}

	.apoie-page .section01 .conteudoPlano .grid li.item{
		width: 33.3%;
	}

	.apoie-page .section01 .embed iframe{
		height: 300px;
	}

	.apoie-page .bannerTop .bg{
		width: 100%;
	}

	.blocoGrid ul.grid li._item{
		width: 25%;

		h4{
			font-size: 20px;
		}
	}

	.posts.col-2 ._itemGrid{
		width: 100%;
	}

	.museu-page .contentMain .slider a[rel="prev"]{
		right: 10px;
	}

	.museu-page .contentMain .slider a[rel="next"]{
		left: 10px;
	}

	._itemGrid.style-06 .main .btn{
		width: auto;
	}

	.scroll{
		overflow: auto;
	}

	.lineTitlePost .date{
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 650px){

	.single-product .woocommerce-product-gallery{
		width: 100% !important;
		margin-right: 0 !important;
	}

	.single-product div.product .summary{
		width: 100% !important;
	}

	.author-box{
		flex-wrap: wrap;
	}

	.single-product .product_title{
		font-size: 32px;
	}

	.author-box .author-box-content{
		width: 100%;
	}

	.blocoGrid ul.grid li._item{
		width: 33.3%;
	}

	.museu-page .blocoGalerias ul.grid li._item{
		width: 100%;
	}

	.museu-page .contentMain .bottom{
		flex-wrap: wrap;
	}

	.museu-page .contentMain .bottom .left{
		width: 100%;
	}

	.museu-page .gridGaleryMin .grid li{
		width: 33.3%;
	}

	.gridPost.col-5 .grid li{
		width: 50%;
	}

	.single-post-page.grupo .content-grupo .main{
		flex-wrap: wrap;
	}

	.single-post-page.grupo .content-grupo .main .left{
		width: 100%;
	}

	.single-post-page.grupo .content-grupo .main .right{
		width: 100%;
		margin-top: 15px;
	}

	.single-post-page.grupo .content-grupo .main .right .grid ._item{
		width: 33.3%;
	}

	.bannerTop .subtitle{
		font-size: 38px;
	}

	.quem-somos-page .bloco-fifth .main{
		flex-wrap: wrap;
	}

	.quem-somos-page .bloco-fifth .main .left{
		width: 100%;
		margin-bottom: 20px;
	}

	.colaborador-page .bannerTop .btns{
		flex-wrap: wrap;

		.btn{
			margin: 5px 0;
		}
	}

	.woocommerce-cart-form, .cart-collaterals{
		width: 100%;
	}

	.products-page .site-main .main{
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}

	.products-page .productDestaque .left h3{
		font-size: 30px;
	}

	.dadosTecnicos .woocommerce-product-details__short-description{
		column-count: initial;
	}

	.ctnDescription{
		max-height: initial;
	}

	.products-page .productDestaque .left{
		width: 100%;
	}

	.products-page .productDestaque .right{
		width: 100%;
	}

	footer .lineDown .main{
		flex-wrap: wrap;
		justify-content: center;

		.left{
			width: 100%;
		}

		.selo{
			margin-top: 20px;
		}
	}
}

@media only screen and (max-width: 450px){
	.newsletter .main .title{
		font-size: 24px;
	}

	.apoie-page .section01 .embed iframe{
		height: 220px;
	}

	.newsletter .main form{
		flex-wrap: wrap;
		justify-content: center;
	}

	.home-page .sliderCtn .slider .itemSlider .left{
		    padding: 25px 0;
	}

	.home-page .sliderCtn .slider .itemSlider .left h3{
		font-size: 33px;
	}

	.barAds .ads.apoie{
		flex-wrap: wrap;
	}

	.barAds .ads.apoie .left{
		width: 100%;
		margin-left: 0px;
		margin-bottom: 20px;
	}

	._itemGrid .ctn .bottom{
		padding: 20px;
		padding-top: 40px;
	}

	._itemGrid .ctn .title-c{
		font-size: 20px;
	}

	.bloco-posts .title h3{
		font-size: 26px;
	}

	.posts.col-3-crazy ._itemGrid:first-child{
		width: 100%;
	}

	.bloco-posts.acervo .posts{
		width: 100%;
		margin-left: 0;
	}

	footer .lineTop .main{
		flex-wrap: wrap;
		justify-content: center;
	}

	footer .lineTop .main .right{
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}

	footer .lineTop .main .right .redes{
		justify-content: center;
	}

	.site-header .brand img{
		max-width: 130px;
	}

	.modalBusca .bottom form{
		flex-wrap: wrap;
	}

	.modalBusca .bottom form button{
		width: 100%;
		text-align: center;
	}

	.modalBusca .bottom form input{
		width: 100%;
	}

	.sliderCategory ._itemGrid .ctn .title-c{
		font-size: 28px;
	}

	.sliderCategory ._itemGrid .ctn .bottom{
		padding: 20px;
	}

	.sliderCategory .barBottom .main .left{
		display: none;
	}

	.sliderCategory .slick-dots{
		right: 10px !important;
	}

	.barSearch .main{
		flex-wrap: wrap;
	}

	.barSearch .main .form{
		width: 100%;
		margin-bottom: 20px;
	}

	.barSearch .main .right{
		width: 100%;
	}

	.bloco-volume .posts{
		width: 100%;
		margin-left: 0;
	}

	._itemGridVolume{
		flex-wrap: wrap;
		padding-left: 0;
	}

	._itemGridVolume figure{
		width: 100%;
		margin-right: 0;
	}

	._itemGridVolume .right{
		width: 100%;
	}

	.bloco-volume ._itemGrid.style-06{
		padding: 10px;
	}

	.lineTitlePost h2{
		font-size: 30px;
	}

	.relateds .posts{
		width: 1000px;
	}

	.biblioteca-page .bloco-first .main .right h2{
		font-size: 36px;
	}

	.biblioteca-page .bloco-first .main .right .ctnFields .item{
		width: 50%;
	}

	.biblioteca-page .bloco-second iframe{
		height: 550px;
	}

	.biblioteca-page .listBilioteca .title{
		font-size: 28px;
	}

	.editora-page .bannerTop .title .subtitle{
		font-size: 52px;
	}

	.editora-page .section02 .main .right, .editora-page .section04 .main .left{
		display: none;
	}

	.editora-page .section02 .main .left, .editora-page .section04 .main .right{
		width: 100%;
	}

	.apoie-page .section01 .conteudoPlano .grid li.item{
		width: 100%;
	}

	.bannerTop{
	    padding: 60px 0;
	    padding-bottom: 20px;
	}

	.bannerTop .subtitle{
		font-size: 38px;
	}

	.blocoGrid ul.grid li._item{
		width: 50%;
	}

	.autor-page .bannerTop .main{
		flex-wrap: wrap;
		justify-content: center;
	}

	.autor-page .bannerTop .main figure{
		width: 100px;
		margin: 0 auto;
	}

	.autor-page .bannerTop .main .right{
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}

	.autor-page .bannerTop .main .right .lineTop{
		flex-wrap: wrap;
	}

	.museu-page .gridGaleryMin .grid li{
		width: 50%;
	}

	.single-post-page.grupo .content-grupo .main .right .grid ._item{
		width: 50%;
	}

	._itemGrid.style-07 .ctn .lineBottom .btn{
		padding: 7px 7px;
    	font-size: 13px;
	}

	.quem-somos-page .bloco-first .main .right{
		display: none;
	}

	.quem-somos-page .bloco-first .main .left{
		width: 100%;
	}

	.museu-page .contentMain .bottom .left{
		flex-wrap: wrap;
	}

	.museu-page .contentMain .bottom .left .autor{
		width: 100%;
		margin-left: 0;
	}
}


@media only screen and (max-width: 390px){

	.biblioteca-page .bloco-first .main .right .ctnFields .item{
		width: 100%;
	}

	.home-page .sliderCtn .slider .itemSlider .left h3{
		font-size: 28px;
	}

	.posts ._itemGrid, .posts.col-crazy ._itemGrid:nth-child(3), .posts.col-crazy ._itemGrid:nth-child(4){
		width: 100%;
	}

	.bloco-posts .title h3{
		font-size: 20px;
	}

	.bloco-posts .title .arrows .arrow{
		width: 30px;
	    height: 30px;
	    line-height: 25px;
	    font-size: 14px;
	}

	.products.columns-4 li.product{
		width: 100%;
	}

	.posts ._itemGrid, .posts.col-crazy ._itemGrid:nth-child(3), .posts.col-crazy ._itemGrid:nth-child(4){
		width: 100%;
	}

	.bloco-posts.grid-6-posts .ctn-down .left ._itemGrid{
		width: 100%;
	}

	.bloco-volume ._itemGrid.style-06{
		width: 100%;
	}

	.bannerTop .barBottom .main .left{
		display: none;
	}

	.biblioteca-page .listBilioteca .gridBiblioteca ._item{
		width: 100%;
	}

	.gridPost.col-5 .grid li{
		width: 100%;
	}

	._itemGrid.style-07 .ctn .lineBottom{
		flex-wrap: wrap;
	}

	._itemGrid.style-07 .ctn .lineBottom .btn{
		margin-top: 10px;
	}

	.posts.col-crazy2 ._itemGrid:nth-child(3){
		width: 100%;
	}

	
}