/* SETUP */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;0,900;1,100&display=swap');

$time-transition  : 0.3s;

%transition {
  -webkit-transition: all ease-in-out $time-transition; 
  -moz-transition: all ease-in-out $time-transition; 
  transition: all ease-in-out $time-transition;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body, html{
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

ul, li { 
  list-style: none; @extend %transition;
  padding: 0px;
  margin: 0px;
}


figure{
  margin: 0px;
}

img.no-cut{
  object-fit: contain !important;
}

.main{
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
  position: relative;
  z-index: 2;
}

a{
  color: #000;
}

*{
  outline: none !important;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4{
  margin: 0px;
  font-weight: 900 !important;
}
a, ul, span, svg, img {
  @extend %transition;
}

::selection {
  background: #fad686; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #fad686; /* Gecko Browsers */
  color: #fff;
}
/* SETUP */


/* CORES */
$yellow: #f9b000;
$green: #84e8f0;
$pink: #c12874;
$blue: #1e7dff;
$red: #be2432;
$purple: #8d45c5;
/* CORES */