.single-post-page{
	margin-bottom: 40px;

	.barAds{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	
	.imageMain{
		width: 100%;
		margin-bottom: 20px;

		img{
			width: 100%;
			min-height: 380px;
			object-fit: cover;
			object-position: top;
			border-radius: 6px;
		}

		iframe{
			width: 100%;
			min-height: 520px;
			border-radius: 6px;
		}
	}

	.datasEvento{
		p{
			margin: 10px 0px;
		}
	}

	.olhoPost{
	    font-size: 25px;
	    width: 100%;
	    margin-top: 23px;
	    font-weight: 500;
	}

	&.grupo{
		.content-grupo{
			.main{
				display: flex;
				justify-content: space-between;

				.left{
					width: 200px;
				}

				.right{
					width: calc(100% - 250px);

					img.size-full{
						display: none;
					}

					.topo{
						width: 100%;
						color: #000;
						font-size: 30px;
						font-weight: 900;
					}

					.titleGrid{
						font-weight: 900;
					}

					.grid{
						width: calc(100% + 20px);
						margin: 0;
						margin-left: -10px;
						display: flex;
						flex-wrap: wrap;

						._item{
							width: 25%;
							padding: 10px;
							box-sizing: border-box;

							&:hover{
								opacity: 0.8;
							}

							figure{
								width: 100%;
								margin-bottom: 6px;

								img{
									width: 100%;
								}
							}

							h5{
								font-weight: 700;
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}

	&.entrevista{
		.lineTitlePost{
			.category{
				background-color: $yellow;
			}

			.numero{
				font-size: 16px;
				text-transform: uppercase;
				font-weight: bolder;
				padding: 5px 10px;
				color: $yellow;
				display: inline-block;
				background-color: #000;
				margin-right: 5px;
			}
		}

		._itemGrid.style-06 .bg{
			height: 350px !important;
		}
	}

	.tptn_counter{
		display: none;
	}
}

.expedienteLista{
	width: 100%;
	margin: 0;

	li._item{
		width: 100%;
		display: inline-block;
		margin: 20px 0;

		h3{
			font-weight: 900;
			font-size: 28px;
			display: inline-block;
			width: 100%;
			margin-bottom: 0px;
			color: #000;
		}

		.grid{
			width: calc(100% + 20px);
			margin-left: -20px;
			display: flex;
			flex-wrap: wrap;

			.item{
				width: 20%;
				padding: 20px;

				figure{
					width: 100%;
					margin-bottom: 10px;

					img{
						width: 100%;
						display: block;
					}
				}

				h5{
					font-weight: bold;
					color: #000;
					margin: 0;
					font-size: 17px;
					line-height: 1.1;
				}

				span{
					font-size: 15px;
				}
			}
		}
	}
}

.lineTitlePost{
	width: 100%;
	display: inline-block;
	margin: 30px 0px;
	margin-bottom: 0px;
	padding-bottom: 30px;
	margin-top: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.3);

	.category{
		display: inline-block;

		a{
			background-color: $yellow;
			color: #000;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: bolder;
			padding: 5px 10px;
			color: #000;
			display: inline-block;
		}
	}

	.totalViews{
		display: inline-block;
		margin-left: 15px;

		i{
			font-size: 28px;
			color: #000;
			float: left;
		}

		.tptn_counter{
			display: inline-block !important;
    		margin-left: 6px;
		}
	}

	h2{
		font-size: 48px;
		font-weight: 900;
		color: #000;
		line-height: 1.2;
		margin: 0px;
	}

	.date{
		display: flex;
		align-items: center;
		margin-top: 10px;

		span{
			font-weight: normal;
			color: #828282;

			&.bar{
				margin: 0 12px;
				width: 1px;
				height: 23px;
				background-color: #a39f9f;
			}

			a{
				color: #828282;

				&:hover{
					color: #000;
				}
			}
		}
	}
}


.post-content{
	margin-bottom: 30px;
}

.ctnPostContent{
	.main{
		max-width: 980px;
	}

	&.no-sidebar{
		.main{
			max-width: 1200px;
		}
	}
}

.contentText{
	position: relative;

	img{
		max-width: 100%;
		height: auto;
		border-radius: 6px;
	}

	iframe{
		max-width: 100%;
		border-radius: 3px;
		margin: 0 auto;
		display: block;
	}

	iframe[src*="youtube."], iframe[data-src*="youtube."] {
	    max-width: 100%;
		border-radius: 3px;
		width: 820px;
		margin: 0 auto;
		display: block;
		height: 450px;
	}

	// iframe[src*="anchor."], iframe[data-src*="anchor."] {
	//     height: auto !important;
	// }

	.twitter-tweet, .instagram-media{
		margin: 10px auto !important;
	}

	.adsbygoogle{
		display: block !important;
		margin: 10px auto !important;
	}

	.wp-caption-text{
		margin: 0px;
		font-size: 14px;
		opacity: 0.8;
		margin-bottom: 40px;
	}

	blockquote{
		display: inline-block;
		clear: both;
		color: #fcb923;
		border-left: 6px solid #fcb923;
		margin: 10px 0px;
		padding: 0px 20px;
		position: relative;

		p{
			font-size: 26px;
			font-weight: 600;
		}
	}

	a{
		color: #d79603;

		&:hover{
			color: #7f5903;
		}
	}

	p{
		margin: 25px 0px;
		line-height: 1.4;
		font-size: 22px;
	}

	ul{
		width: 100%;
		box-sizing: border-box;
		padding-left: 15px;
		margin: 0;
	}

	li{
		margin: 20px 0px;
		line-height: 1.4;
		font-size: 18px;
		list-style: disc;
	}

	h3{
		margin: 35px 0px;
	}

	.comments{
		margin: 40px 0;
	}

}

.linkExternal{
	font-size: 28px;
	margin-bottom: 20px;
	display: block;
}

.author-box{
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0;
	border-top: 2px solid #dfdfdf;
	padding: 20px 0;

	&:first-child{
		margin-top: 40px;
	}

	&:last-child{
		margin-bottom: 40px;
		border-bottom: 2px solid #dfdfdf;
	}


	figure{
		width: 135px;
		margin-right: 30px;

		img{
			width: 100%;
			height: 135px;
			object-fit: cover;
			border-radius: 200px;
		}
	}

	.author-box-content{
		width: calc(100% - 160px);
		
		.author-box-name{
			display: flex;
			justify-content: space-between;
			margin-bottom: 0;

			a{
				color: #000;
				font-weight: 900;
				font-size: 16px;
			}
		}

		.redes{
			display: flex;

			a{
				margin: 5px 7px;
			    font-size: 22px;
			    color: #222;
			}
		}

		p{
			margin: 10px 0;
		}
	}
}

.ctnScroll{
	position: relative;
}

.barFloatLeft{
	position: absolute;
	left: -105px;
	top: 0;
	text-align: center;
	width: 100px;

	.author{
		width: 100%;
		margin-bottom: 70px;
		margin-top: 60px;

		figure{
			width: 100%;
			text-align: center;
			margin-bottom: 10px;

			img{
				width: 65px;
				height: 65px;
				border-radius: 200px;
			}
		}

		strong{
			width: 100%;
			font-size: 13px;
		}

		p{
			font-size: 13px;
    		color: rgba(255,255,255,0.6);
		}
	}
}

.barShared{
	width: 65px;

	label{
		font-size: 11px;
		font-weight: bolder;
		color: #000;
		letter-spacing: -1px;
		border-bottom: 4px solid $yellow;
		padding-bottom: 5px;
		display: inline-block;
	}

	a{
		width: 100%;
		height: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 20px;
		color: #000;
		border-bottom: 1px solid #ccc;

		&:last-child{
			border-bottom: 0;
		}

		&:hover{
			color: $green;
		}
	}
}


.authorCtn{
	width: auto;
	display: flex;
	align-items: center;
	margin-top: 30px;

	figure{
		margin-right: 30px;

		img{
			width: 100px;
			height: 100px;
			border-radius: 200px;
			object-fit: cover;
		}
	}

	a{
		color: #fff;
		font-weight: bold;

		&:hover{
			color: #fcb923;
		}
	}

	.redes{
		display: flex;
		margin-left: 10px;

		a{
			font-size: 20px;
			color: #fff;
			padding: 5px;
			margin-right: 10px;
			font-weight: bolder;

			&:hover{
				color: #e8736d;
			}
		}
	}
}

a.link-facebook{
	&:hover{
		color: #1e3487 !important;
	}
}

a.link-instagram{
	&:hover{
		color: #f8780b !important;
	}
}

a.link-twitter{
	&:hover{
		color: #03a9f4 !important;
	}
}

a.link-whatsapp{
	&:hover{
		color: #05ca6f !important;
	}
}

.relateds{
	width: 100%;

	.title{
		font-size: 22px;
		margin-bottom: 10px;
		font-weight: 900;
		color: #000;
	}

	.posts{
		width: calc(100% + 20px);
		margin-left: -10px;

	}

}

.comments{
	width: 100%;

	.content{
		width: 100%;
		// display: none;
		padding: 20px 0px;
		background: #222;
	    padding: 20px;
	    box-sizing: border-box;
	}
}

.box-commons-como{
	width: 100%;
	margin: 40px 0;
}
