.acf-bl label{
    display: flex !important;
    align-items: center;
}

span[class*="iconcc"], span[class*="icon-cc"]{
    display: block;
    width: 28px;
    height: 28px;
    background-image: url('../images/icones/sprite-creative-commons.png');
    vertical-align: middle;
}

.iconcc-cc {
    background-position: 0px 0px;
}

.icon-cc-c-sprite {
    background-position: 0px -173px;
}

.iconcc-cc-pd {
    background-position: 0px -29px;
}

.iconcc-cc-by {
    background-position: 0px -57px;
}

.iconcc-cc-nc {
    background-position: 0px -86px;
}

.iconcc-cc-nd {
    background-position: 0px -144px;
}

.iconcc-cc-sa {
    background-position: 0px -115px;
}

#tptn_total, #tptn_daily, #tptn_both{
    display: none !important;
}

.user-edit-php .user-description-wrap{
    display: none;
}